1. Подключаем библиотеки

In [1]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

2. Считываем данные

In [13]:
df=pd.read_csv("D:\Анализ данных\data_analysis\Homeworks\Homework3\Task2\TITANIC.csv",encoding="cp1251")

3. Заменяем Nan усредненными значениями (fillna())

In [15]:
df = df.fillna(df.median(axis=0), axis=0)

4. Бинарное кодирование столбца 'sex'

In [75]:
def code_myohe(data, feature):
    for i in data[feature].unique():
        data[feature + "=" + i] = (data[feature] == i).astype(int)
        
le = LabelEncoder()
le.fit(df['Sex'])
df[df['Sex'].name +'N'] = le.fit_transform(df['Sex'])
code_myohe(df, 'Sex')
    
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,SexN,Sex=male,Sex=female
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,1,1,0
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,0,0,1
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,0,0,1
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000,1,1,0
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000,0,0,1
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500,0,0,1
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000,1,1,0
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500,1,1,0

5. Выбираем количественные столбцы

In [76]:
x = df[['Age', 'Pclass','Fare', 'Sex=male', 'Sex=female']]
y = df.values[::,0]

6. Строим дерево решений и определям точность на контроле

In [102]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

y_train = y_train.astype(int)
tree=DecisionTreeClassifier(max_depth=10, min_samples_leaf=2, max_features=5,criterion = "entropy", random_state=1)
tree.fit(X_train, y_train)
print(tree.score(X_train, y_train))
y_test = y_test.astype(int)
accuracy_score(y_test, tree.predict(X_test))

0.9

0.8014981273408239

### Следующую данные (telecom_churn.csv)

1. Cчитываем данные, заменяем пропущенные значения на среднее значение.

In [104]:
df=pd.read_csv("D:\Анализ данных\data_analysis\Homeworks\Homework3\Task2\TELECOM_CHURN.csv",encoding="cp1251")
df = df.fillna(df.median(axis=0), axis=0)

In [105]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [124]:
x = df[['total day minutes', 'total eve charge', 'total day charge', 'total eve calls', 'total night charge', 'total intl charge']]
y = df.values[::,-1]

2. Строим дерево решений и определям точность на контроле

In [123]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

y_train = y_train.astype(int)
tree=DecisionTreeClassifier(max_depth=5, min_samples_leaf=2, criterion = "entropy", random_state=1)
tree.fit(X_train, y_train)
print(tree.score(X_train, y_train))
y_test = y_test.astype(int)
accuracy_score(y_test, tree.predict(X_test))

0.8872696099442777

0.89

### Следующие данные (diabetes.csv)

In [386]:
df=pd.read_csv("D:\Анализ данных\data_analysis\Homeworks\Homework3\Task2\DIABETES.csv",encoding="cp1251")
print(df.columns)

df.at[df.Insulin == 0, 'Insulin'] = df.Insulin[df.Insulin != 0].median()
df.at[df.SkinThickness == 0, 'SkinThickness'] = df.SkinThickness[df.SkinThickness != 0].median()
df.at[df.BloodPressure < 60, 'BloodPressure'] = df.BloodPressure.median()

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [353]:
x = df[['Glucose','Insulin','BMI','DiabetesPedigreeFunction',"BloodPressure",'Age']]
y = df.values[::,-1]

In [417]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

y_train = y_train.astype(int)
tree=DecisionTreeClassifier(max_depth=5, min_samples_leaf = 7)
tree.fit(X_train, y_train)
print(tree.score(X_train, y_train))
y_test = y_test.astype(int)
print(tree.score(X_test, y_test))

0.7877094972067039
0.8008658008658008